section:not(:nth-child(3)) {
  overflow: auto;
}

.message-container {
  display: flex;
  align-items: center;
}

.message-container .btn {
  margin-bottom: 0;
}

.message-input {
  width: 15rem;
  font-size: 1rem;
  color: #4f586b;
  border-radius: 8px;
  border: 1px solid #ced4da;
  padding: 6px;
  margin: 0 12px 0 6px;
}

.invite-container {
  margin-top: 12px;
}
