.option-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 18px 0;
}

.option-item {
  margin-right: 24px;
}

#update-video-btn {
  margin-left: 6px;
}

select {
  font-size: 0.9rem;
  margin-left: 3px;
}

.option-container + .btn-list {
  margin-bottom: 12px;
}
