.remote-videos-container {
  display: flex;
  width: 100%;
  min-height: 100px;
  flex-direction: row;
  flex-wrap: wrap;
}

.remote-video {
  width: 25%;
  min-height: 100px;
  margin: 0 10px 10px 0;
  position: relative;
  background: #000;
}

@media (max-width: 540px) {
  .remote-video {
    width: 100%;
    margin-right: 0;
  }
}
