.first-btn-list {
  margin: 12px 0;
}

.device-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  margin-bottom: -12px;
}

.device-container .btn {
  margin: 12px auto 0;
}

.device-item {
  min-width: 9rem;
  margin-bottom: 12px;
}

select {
  min-width: 8rem;
  font-size: 0.9rem;
  margin-left: 3px;
}
