section:not(:nth-child(4)) {
  overflow: auto;
}

#role-switch-container {
  display: none;
}

#role-label {
  display: inline-block;
  width: 5rem;
  font-size: 1.2rem;
  color: #084298;
  font-family: 'Oxygen';
}

.role-switch-content {
  display: flex;
  height: 32px;
}

.role-content {
  display: flex;
  align-items: center;
}

.device {
  display: inline-block;
  cursor: pointer;
}

.device:first-child {
  margin: 0 12px 0 64px;
}

.device-icon {
  display: none;
  vertical-align: middle;
}

.switch {
  position: relative;
  left: 18px;
  display: inline-block;
  width: calc(60px / 1.5);
  height: calc(34px / 1.5);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: calc(26px / 1.5);
  width: calc(26px / 1.5);
  left: calc(4px / 1.5);
  bottom: calc(4px / 1.5);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1c66e5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1c66e5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(calc(26px / 1.5));
  -ms-transform: translateX(calc(26px / 1.5));
  transform: translateX(calc(26px / 1.5));
}

.slider.round {
  border-radius: calc(34px / 1.5);
}

.slider.round:before {
  border-radius: 50%;
}
