.option-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 18px;
}

.option-item {
  display: flex;
  align-items: center;
  margin: 0 24px 3px 0;
}

.url-input {
  width: 20vw;
  min-width: 10rem;
  font-size: 0.8rem;
  color: #4f586b;
  border-radius: 8px;
  border: 1px solid #ced4da;
  padding: 6px;
  margin-left: 6px;
}

#size {
  margin-left: 6px;
}

select {
  margin-left: 6px;
}
