.option-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 12px 0;
}

.option-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.option-item:not(:last-child) {
  margin-right: 18px;
}

#system-audio {
  zoom: 1.3;
  margin-right: 6px;
}

select {
  margin-left: 6px;
}
