.play-volume-container {
  display: flex;
  align-items: center;
}

.play-control {
  display: flex;
  align-items: center;
}

.loop-container {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
}

#play-icon {
  margin: 0 12px 0 12px;
  cursor: pointer;
}

#loop {
  zoom: 1.3;
  margin-right: 3px;
}

.volume-container {
  display: flex;
  align-items: center;
}

#volume-input {
  margin-right: 8px;
}

#volume-display {
  width: 24px;
  font-size: 0.9rem;
  padding: 3px;
  margin-left: 8px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  color: #4f586b;
}

.playtime-container {
  margin: 18px 0;
}

#time-input {
  width: 32px;
  padding: 6px;
  margin: 0 6px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  color: #4f586b;
}
